/* s */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-button:not(:last-child) {
  margin-right: 5px;
}

.tab-button.active {
  background-color: #0056b3;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

h2 {
  color: #333;
}
